version: "3.9"
services:
  db:
    image: postgres
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: nnpda-db
    ports:
      - "5432:5432"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.0
    container_name: elasticsearch
    environment:
    - discovery.type=single-node
    - ES_JAVA_OPTS=-Xms2048m -Xmx2048m
    - xpack.security.enabled=false #HTTP
    - network.host=0.0.0.0
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.0
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:9.2.0
    container_name: logstash
    volumes:
      - ./logstash/jars:/usr/share/logstash/jars
      - ./logstash/pipeline:/usr/share/logstash/pipeline   # <- tady musí být tvůj tickets.conf
    depends_on:
      - elasticsearch
      - db



volumes:
  esdata:
